/*ALL*/
body{
    background-color: #f9e9d2;
}

/*TOP*/
.top.style1{
    background-color: #f9e9d2;
    background-position: top left, center center;
    background-size: auto, cover;
}

/*MID*/
.mid.style1{
    position: absolute;
    bottom: 50%;
    width: 50%;
    right: 0%;
}

/*BOT*/
.bot.style1{
}